<html>

<head>
    <meta charset="UTF-8">
    <title> Complain Form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 class="small">
        Complain ID: {{info.0}}</br>
    </h1>
    <h3>Complain Type: {{info.1}}</h3>
    <hr> Complainer ID: {{info.3}}<br> First Name: {{info.4}}<br> Last Name: {{info.5}}<br> Email: {{info.6}}<br> Contact Number: {{info.7}}<br> Department: {{info.8}}<br> Designation: {{info.9}}
    <hr> Body: <br><pre>{{info.2}}</pre>
    <hr>
</body>

</html>