<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>

<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='rain.mp4') }}" type="video/mp4">
    </video>

    <div class="content">

        <div align="center" class="border">
            </br>
            </br>
            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    </br>
                    <input id="ID" name="ID" type="text" placeholder="id" class="textbox" />
                    <input id="password" name="password" type="password" placeholder="Password" class="textbox" /></br>
                    <input id="fname" name="fname" type="text" placeholder="First Name" class="textbox" />
                    <input id="lname" name="lname" type="text" placeholder="Last Name" class="textbox" /></br>
                    <input id="email" name="email" type="text" placeholder="Email" class="textbox" /></br>
                    <input id="department" name="department" type="text" placeholder="Department" class="textbox" /></br>
                    <input id="mobile" name="mobile" type="text" placeholder="Mobile" class="textbox" /></br>
                    <input id="desi" name="desi" type="text" placeholder="Designation" class="textbox" /></br>
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select></br>
                    <input id="category" name="category" type="text" placeholder="Category" class="textbox" /></br>
                    </br>
                    <input type="submit" class="btn" value="Sign Up"></br>
                </form>
            </h2>
        </div>
        <div class="topnav">
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}" class="active">Register</a>
            <a><button id="myBtn" onclick="myFunction()">Pause</button></a>
            <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction2()">&#9776;</a> -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
</body>

</html>