<html>

<head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='rain.mp4') }}" type="video/mp4">
    </video>
    <div align="center" class="content">
        </br>
        </br>
        </br>
        </br>
        <div align="center" class="border">
            </br>
            </br>
            <h2 class="word">
                <form action="{{ url_for('determine') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    </br>
                    <label for="user">Usr Type:</label>
                    <select id="user" name="user">
                            <option value="Admin">Admin</option>
                            <option value="Faculty">Faculty</option>
                            <option value="Student">Student</option>
                        </select></br>
                    </br>
                    </br>
                    <input type="submit" class="btn" value="Continue"></br>
                    </br>
                </form>
            </h2>

        </div>
    </div>
    <script src="{{ url_for('static', filename='indexjs.js') }}"></script>
</body>

</html>